.button {
    width: 190px;
    height:46px;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin: 205px 0 34px 0;
    background: linear-gradient(to top left, #ff6b6b, #ba2063);
    font-family: 'Mulish', sans-serif;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
  }