.mobileMenu {
    padding-top: 55px;
    padding-left: 20px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
}

.desktopMenu {
    max-height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



@media (max-width: 768px) {
    .desktopMenu {
        display: none;
    }
}

@media (min-width: 769px) {
    .mobileMenu {
        display:none;
    }
}